*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 70px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}

.logo p{
    color:white;
    margin-left: 40px;
   
}
nav > ul > li {
    display: inline-block;
    padding-left: 10px;

}

nav > ul {
    margin-right: 20px;
}
nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 15px;
 
 }
 nav > ul > li > a:hover {
  border-bottom: 2px solid white;
 
 }

 h5 {
    font-weight: 600;
    font-size: 17px;
    
}

.promotion{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) url('../images/burger.jpg');
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.promotion h1{
    font-size: 2.5rem;
}
.promotion h3{
    font-size: 2rem;
}


main{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.food{
    width: calc(30% - 100px);
    min-width: 270px;
    height: auto;
}
img{
    width: 100%;
    border-radius: 10px;
}
.food-price{
    display: flex;
    justify-content: space-between;
}
.food-text{
    margin-top: 15px;
}

.button{
    width: 130px;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #cb202d;
    margin-bottom: 30px;
    border-radius: 20px;
}
.contact{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    color: black;
    display: flex;
    align-items: baseline;
    padding-top: 90px;
    justify-content: space-around;
}
.contact h1{
    text-align: center;
}
#form{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
input[type="text"],input[type="email"],input[type="tel"]{
    max-width: 350px;
    height: 40px;
    outline: 0;
    padding-left: 5px;
    margin-bottom: 5px;
}
.map{
    width: 50%;
    padding-right: 50px;
}
.map h3{
    margin-bottom: 20px;
}
iframe{
    width: 100%;
    height: 400px;
}
textarea{
    resize: none;
    max-width: 350px;
    outline: 0;
    padding-left: 5px;
}


footer{
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
i{
    color: white;
    font-size: 19px;
    margin-left: 9px;
}

@media screen and (max-width:850px){
   .contact{
       flex-direction: column;
       height: auto;
      align-items: center;
   }
   .map{
       width: 100%;
       text-align: center;
       padding-left: 70px;
       
       
   }
   iframe{
       width: 450px;
   }
}
@media screen and (max-width:590px){
    .promotion h1{
        font-size: 7vw;
    }
    .promotion h3{
        font-size: 6vw;
    }
}